<div class="image">
    <!-- <b class="over" style="border-top: 50px;">Contact Us</b>
    <p class="lay">We would love to hear from you</p> -->
</div>
<div>
    <mat-expansion-panel class="epanel" >
        <mat-expansion-panel-header>
            <mat-panel-title class="office">India</mat-panel-title>
        </mat-expansion-panel-header>
        <div >
            <h2>Registered office address</h2>
            <p class="high">Company Name: North South Lines (Pvt) Ltd<br>

                Office Address: No 400 Deans Road, Colombo 10<br>

                Timings: Monday to Friday, 08:30AM - 05:00PM<br>

                Saturday, 09:00AM - 01:00PM<br>

                Tel: <a href="#">+919876543210</a><br>E-mail address:

                <a href="#">vistara.cmb@aviation.hayleys.com</a>

            </p>
        </div>
    </mat-expansion-panel>
</div>
<div>
    <mat-expansion-panel class="epanel1">
        <mat-expansion-panel-header>
            <mat-panel-title class="office">Australia</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <h2>Registered office address</h2>
            <p class="high">Company Name: North South Lines (Pvt) Ltd<br>

                Office Address: No 400 Deans Road, Colombo 10<br>

                Timings: Monday to Friday, 08:30AM - 05:00PM<br>

                Saturday, 09:00AM - 01:00PM<br>

                Tel: <a href="#">+94112168290</a><br>

                E-mail address: <a href="#">vistara.cmb@aviation.hayleys.com</a>

            </p>
        </div>
    </mat-expansion-panel>
</div>
<div>
    <mat-expansion-panel class="epanel1">
        <mat-expansion-panel-header>
            <mat-panel-title class="office">Bangkok</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <h2>Registered office address</h2>
            <p class="high">Company Name: North South Lines (Pvt) Ltd<br>

                Office Address: No 400 Deans Road, Colombo 10<br>

                Timings: Monday to Friday, 08:30AM - 05:00PM<br>

                Saturday, 09:00AM - 01:00PM<br>

                Tel: <a href="#">+94112168290</a><br>

                E-mail address: <a href="#">vistara.cmb@aviation.hayleys.com</a>

            </p>
        </div>
    </mat-expansion-panel>
</div>
<div>
    <mat-expansion-panel class="epanel1">
        <mat-expansion-panel-header>
            <mat-panel-title class="office">Colombo</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <h2>Registered office address</h2>
            <p class="high">Company Name: North South Lines (Pvt) Ltd<br>

                Office Address: No 400 Deans Road, Colombo 10<br>

                Timings: Monday to Friday, 08:30AM - 05:00PM<br>

                Saturday, 09:00AM - 01:00PM<br>

                Tel: <a href="#">+94112168290</a><br>

                E-mail address: <a href="#">vistara.cmb@aviation.hayleys.com</a>

            </p>
        </div>
    </mat-expansion-panel>
</div>
<div>
    <mat-expansion-panel class="epanel1">
        <mat-expansion-panel-header>
            <mat-panel-title class="office">Japan</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <h2>Registered office address</h2>
            <p class="high">Company Name: North South Lines (Pvt) Ltd<br>

                Office Address: No 400 Deans Road, Colombo 10<br>

                Timings: Monday to Friday, 08:30AM - 05:00PM<br>

                Saturday, 09:00AM - 01:00PM<br>

                Tel: <a href="#">+94112168290</a><br>

                E-mail address: <a href="#">vistara.cmb@aviation.hayleys.com</a>

            </p>
        </div>
    </mat-expansion-panel>
    <div class="epanel1">
        <h2 style="margin-top: 50px;">Grievance Redressal Procedure</h2>
        <p class="high">For comments concerning Civil Aviation Requirement,Section 3,Air Transport,Series<br>

            M,Part IV,you may write to:<br>

            Nodal Officer: Mr. Harit Bhatia<br>

            <a href="#">nodalofficer@airvistara.com</a>
        </p>
        <hr>
    </div>
    <div class="epanel1">
        <h2>Appellate Authority:</h2>
        <p class="high">Ms. Pooja Paul<br>

            <a href="#">appellateauthority@airvistara.com</a>
        </p>
        <hr>
    </div>
    <div class="epanel1">
        <h2>Air Sewa:</h2>
        <p class="high"><a href="#">www.airsewa.gov.in</a>
        </p>
        <hr>
    </div>
    <div class="epanel1">
        <h2>Other queries:</h2>
        <p class="high">For any sales related query, please email us on the below email ID depending on your
            location:<br>

            East India : <a href="#">east.salessupport@airvistara.com</a><br>




            West India : <a href="#">west.salessupport@airvistara.com</a><br>

            North India : <a href="#">north.salessupport@airvistara.com</a><br>

            South India : <a href="#">south.salessupport@airvistara.com</a><br>

            For Media Enquiries, please email us at<br>

            <a href="#">media@airvistara.com</a><br>

            For Job Enquiries, please <a href="#">Click here</a><br>

            For queries related to Club Vistara, please email us at<br>

            <a href="mailto:SivaSindhu.Meduri@cognizant.com">contactus@clubvistara.com</a><br>

            For Other Queries or Feedback, please <a href="#">Click here</a>
        </p>
        <hr>
    </div>
</div>
<div class="img"></div>