/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    background-color: rgb(207, 248, 195);
    border-radius: 15px;
   margin-top: 10px;
  }
  mat-card{

    background-color: bisque;
  }
  .container .booking{
   
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    width: 250px;
    color: black;
    
  }
  span{
    font-size: 16px;
    font-weight: 1000;
    color: rgb(11, 65, 11);
  } */


  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #161F6D;
    color: white;
    text-align: center;
  }