<!-- 
<head>
<title>Footer Design</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="footer.component.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<footer class="footer">

 
<div class="container">
<div class="row">
<div class="footer-col">
<h4>Our Company</h4>
<ul>
<li><a href="#">Corporate Information</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">FAQs</a></li>
<li><a href="#">Terms and Coditions</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Site Map</a></li>
<li><a href="#">CSR and Sustainability</a></li>


</ul>
</div>
<div class="footer-col">
<h4>Services</h4>
<ul>
<li><a href="#">Vistara Bridge</a></li>
<li><a href="#">Cargo</a></li>
<li><a href="#">Charter Booking</a></li>
<li><a href="#">Gropu Booking</a></li>
<li><a href="#">Tariff Sheet</a></li>
</ul>
</div>
<div class="footer-col">
<h4>Media center</h4>
<ul>
<li><a href="#">Press Releases</a></li>
<li><a href="#">Press information Kit</a></li>
<li><a href="#">Media Library</a></li>
<li><a href="#">Media Contacts</a></li>
<li><a href="#">Awards & Accolades</a></li>
</ul>
</div>
<div class="footer-col">
<h4>follow us</h4>
<div class="social-links">
<a href="#"><i style="color: blue;" class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
</div>
</div>

</footer> -->
<div class="container"></div>
<link rel="stylesheet" href="">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<footer *ngIf="footer.visible">
<!-- Footer main -->
<section class="ft-main">
<div class="ft-main-item">
<h2 class="ft-title">About</h2>
<ul>
<li><a href="#">Corporate Information</a></li>
<li><a href="#">Portfolio</a></li>
<li><a href="#">FAQs</a></li>
<li><a href="#">Terms and Coditions</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Privacy Policy</a></li>
</ul>
</div>
<div class="ft-main-item">
<h2 class="ft-title">Resources</h2>
<ul>
<li><a href="#">Vistara Bridge</a></li>
<li><a href="#">Cargo</a></li>
<li><a href="#">Charter Booking</a></li>
<li><a href="#">Group Booking</a></li>
<li><a href="#">Tariff Sheet</a></li>
</ul>
</div>
<div class="ft-main-item">
<h2 class="ft-title">Contact</h2>
<ul>
<li><a href="#">Help</a></li>
<li><a href="#">Sales</a></li>
<li><a href="#">Advertise</a></li>
</ul>
</div>
<div class="ft-main-item">
<h2 class="ft-title">Stay Updated</h2>
<p>Subscribe to our newsletter to get our latest news.</p>
<form>
<input type="email" name="email" placeholder="Enter email address">
<input type="submit" value="Subscribe">
</form>
</div>
</section>

<!-- Footer social -->
<section class="ft-social">
<ul class="ft-social-list">
<li><a href="#"><i class="fab fa-facebook"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>

 

<li><a href="#"><i class="fab fa-instagram"></i></a></li>
<li><a href="#"><i class="fab fa-github"></i></a></li>
<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
<li><a href="#"><i class="fab fa-youtube"></i></a></li>
</ul>
</section>

<!-- Footer legal -->
<section class="ft-legal">
<ul class="ft-legal-list">
<li><a href="#">Terms &amp; Conditions</a></li>
<li><a href="#">Privacy Policy</a></li>
<li>&copy; 2019 Copyright Nowrap Inc.</li>
</ul>
</section>
</footer>

