<div class="backgr">
<div class="search" >
  <input style="height: 40px; width: 320px; border-radius: 5px;" type="search" placeholder="Enter Your Mobile Number to get ticket details" #details>
  <button mat-button style="background-color: #FB8122;color: white;margin-left: 10px;" (click)="getdetails(details.value)">Get Details</button>
</div>

<div class="container" *ngFor="let data of TicketData">
  <div class="booking">Fight ID:<span> {{data.flightID}}</span></div>
  <div class="booking">Flight Name:<span>{{data.flightName}}</span></div>
  <div class="booking">Source: <span>{{data.arrival}}</span></div>
  <div class="booking">Destination:<span>{{data.departure}}</span></div>
  <div class="booking">Departure Time:<span>{{data.arrivalTime}}</span></div>
  <div class="booking">Arrival Time:<span>{{data.departureTime}}</span></div>
  <div class="booking">Duration:<span>{{data.durationTime}}</span></div>
  <div class="booking">Fare:<span>{{data.price}}</span></div>
  <div class="booking">No of Passengers:<span>{{data.noofpassengers}}</span></div>
  <div class="booking">1st Passenger <br>Full Name:<span> {{data.title}}&nbsp;{{data.fname}}&nbsp;{{data.lname}}</span></div>
  <div class="booking">Email:<span>{{data.email}}</span></div>
  <div class="booking">Mobile Number:<span>{{data.phno}}</span></div>
  <div class="booking">2nd Passenger <br><span>{{data.title1}}&nbsp;{{data.fname1}}&nbsp;{{data.lname1}}</span></div>
  <div class="booking">3rd Passenger <br><span>{{data.title2}}&nbsp;{{data.fname2}}&nbsp;{{data.lname2}}</span></div>
  <div class="booking"></div>
<div class="booking"></div>
  <div class="booking">Total Fare=<span>{{data.fareprice}}</span> <br>Coupon = <span> -{{data.discountedamount.slice(4,7)}}</span> <br>Total Amount=<span>{{data.totalprice}}</span></div>
  <br>
  <div class="booking" style="text-align: center;">THANK YOU FOR BOOKING, VISIT AGAIN!</div>
  <div class="booking">
    <button mat-button routerLink="/home" style="color: white; background-color: #FB8122;">Back to Home</button>
  </div>
</div></div>